@import "reset.css";
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap);

html {
    scroll-behavior: smooth;
    }

body{
    font-family: 'Titillium Web', sans-serif;
    /* src: url('./fonts/TitilliumWeb-Regular.ttf'); */
}

.wrapper{
    max-width: 1140px;
    width: calc(100%-40px);
    margin: 0px auto;
    padding: 0 20px;
}

.top_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.top_line a{
    padding: 5px;
}

.responsive{
    width: 100%;
    height: auto;
}

header{
    background: #8d7f78;
}

.header_nav{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.header_nav a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

.header_nav ul{
    display: flex;
    flex-direction: row;
}

.header_nav ul li{
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 1px;
    height: 32px;
    line-height: 32px;
    transition: background .3s ease-in-out;
}

.header_nav ul li.selected{
    background: #a68e80;
    border-radius: 3px;
}

.header_nav ul li:hover{
    background: #a68e80;
    border-radius: 3px;
    transition: background .3s ease-in-out;
}

#pull{
    display: none;
}

@media only screen and (max-width : 768px) {
        .header_nav {
            display: flex;
            flex-direction: column-reverse;
            border-bottom: 0;
        }
        
        .header_nav ul{
            display: none;
            flex-direction: column;
        }

        .header_nav ul li{
            display: block;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 1px;
            height: 32px;
            line-height: 32px;
            height: auto;
        }
        .header_nav a#pull {
            display: block;
            /* width: 100%; */
            position: relative;
            transition: background .3s ease-in-out;
        }

        .header_nav a#pull:hover{
            background: #a68e80;
            border-radius: 3px;
            transition: background .3s ease-in-out;
        }
    }
    
.bottom_line{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
}

.bottom_line p{
    font-size: 43px;
    line-height: 1.2;
    color: #f7f3ea;
    font-weight: 700;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .bottom_line p {
        font-size: 28px;
    }
  }

.button{
    display: inline-block;
    padding: 20px 10%;
    text-decoration: none;
    background: #e7b193;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 4px solid #c5977d;
    transition: background .3s ease-in-out;
}

.button:hover{
    background: #c5977d;
    transition: background .3s ease-in-out;
}

section.services{
    background: #d1c5be;
    padding: 120px 0;
    text-align: center;
}

section h2{
    color: #71655f;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}

@media screen and (max-width: 768px) {
    section h2 {
        font-size: 28px;
    }
  }

section h2:after{
    content: "";
    display: block;
    width: 86px;
    height: 4px;
    background: rgba(0,0,0,0.15);
    position: absolute;
    left: 50%;
    margin-left: -43px;
    bottom: 0;
}

section .description{
    color: #8d7f78;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 68px;
}

@media screen and (max-width: 768px) {
    section .description {
        font-size: 20px;
    }
  }

section.services .dogs_list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

section.services .dogs_list .dog_item{
    padding: 0 15px;
    margin: 0 2px;
    width: calc(25% - 34px);
    min-width: 150px;
}

.DogSvg {
    height: 80%;
    width: 80%;
    transition: transform .3s ease-in-out;
  }

.DogSvg:hover{
    transform: rotate( 15deg );
    transition: transform .3s ease-in-out;
}

section.services .dogs_list .dog_item h3{
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}

section.services .dogs_list .dog_item p{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 300;
    margin-bottom: 10px;
}

section.contact{
    background: #fef7e4;
    padding: 120px 0;
    text-align: center;
}

section.contact .description{
    font-size: 24px;
    margin-bottom: 50px;
}

section.contact .contact_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 856px;
    margin: 0 auto;
}

section.contact .contact_form input[type="text"],section.contact .contact_form input[type="email"]{
    width: calc(50% - 16px);
    margin-bottom: 26px;
    background: #a59a95;
    border: 0;
    border-radius: 3px;
    padding: 0 25px;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
    font-size: 18px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    section.contact .contact_form input[type="text"],section.contact .contact_form input[type="email"] {
        width: 100%;
    }
  }

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {font-family: 'Titillium Web', sans-serif; color:#ffffff; font-size: 18px;}
input::-moz-placeholder,textarea::-moz-placeholder          {font-family: 'Titillium Web', sans-serif; color:#ffffff; font-size: 18px;}/* Firefox 19+ */
input:-moz-placeholder,textarea::-moz-placeholder           {font-family: 'Titillium Web', sans-serif; color:#ffffff; font-size: 18px;}/* Firefox 18- */
input:-ms-input-placeholder,textarea::-ms-input-placeholder      {font-family: 'Titillium Web', sans-serif; color:#ffffff; font-size: 18px;}

section.contact .contact_form textarea{
    width: 100%;
    margin-bottom: 60px;
    background: #a59a95;
    border: 0;
    border-radius: 3px;
    padding: 0 25px;
    height: 200px;
    line-height: 56px;
    color: #ffffff;
    font-size: 18px;
    box-sizing: border-box;
}

section.contact .contact_form .submit{
    width: 100%;
    text-align: center;
}

section.contact .contact_form input[type="submit"]{
    display: inline-block;
    padding: 20px 10%;
    text-decoration: none;
    border: 0;
    background: #e7b193;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 4px solid #c5977d;
    transition: background .3s ease-in-out;
}


section.contact .contact_form input[type="submit"]:hover{
    background: #c5977d;
    transition: background .3s ease-in-out;
}

footer{
    background: #6e625d;
}

.footer_line{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
}

.footer_nav{
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    font-weight: 600;
}

.footer_nav a{
    text-decoration: none;
    color: inherit;
}

.footer_nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_nav ul li{
    display: block;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 1px;
    height: 32px;
    line-height: 32px;
    transition: color .2s ease-in-out;
}

.footer_nav ul li:hover{
    color: #f8d1bb;
    transition: color .2s ease-in-out;
}